header{
    background-color: #1c54cd;
    color: rgb(145, 233, 38);
    padding: 10px;
    text-align: center;
}

footer{
    background-color: #248a12;
    color: rgb(45, 184, 66);
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p{
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
}

.demo-btn:hover{
    background-color: #1c54cd;
    color: rgb(145, 233, 38);
    transform: translateY(0)
    box-shadow:none;
}

